body {
    /* background-color: rgb(41, 39, 43); */
    background: url(https://st.depositphotos.com/1869925/1625/v/600/depositphotos_16253583-stock-illustration-poker-casino-online.jpg);
}

.profile-form{
    /* display:flex;
    justify-content: center; */
    margin-top: 80px;
}

