.vd-img{
    border-radius: 50%;
}
.vd-deck{
    margin-right:300px;
    margin-left: auto;
    margin-bottom: 700px;
    display:block;
 
}
.de-img{
    width:100px;
    border-radius: 50%;
    height:100px;
    position: relative;
    bottom: 2400px;
    left: 200px;
}
.de-deck{
    margin-right:300px;
    margin-left: auto;
    margin-bottom: 700px;
    display:block;
 
}
.vk-deck{
    margin-right:300px;
    margin-left: auto;
    margin-bottom: 700px;
    display:block;
   
}
.vk-img{
    border-radius: 50%;
}
.poker-cards{
    position: relative;
    width:50px;
    height:70px;
}
.vd-cards{
    position: relative;
    bottom:1200px;
    right:400px;
}
.vk-cards{
    position: relative;
    bottom:2070px;
    left:500px;
}
.de-cards{
    position: relative;
    bottom:3100px;
    left:60px;
}
.game-control{
    position: relative;
    bottom:100px;
    right:50px;
}